
#conteiner_main{
    width: 100vw;
    height: max-content;

    position: relative;
    top: 0vh;
    left: 0;
}

#conteiner_main .main_title{
    width: 25vw;
    height: max-content;

    position: absolute;
    left: 5vw;
    top: 5vh;

    font-size: 18px;
}


/* componente icon para el carrito de las compras */

#conteiner_main .icon_img{
    width: fit-content;
    height: fit-content;

    position: absolute;
    left: 95%;
    top: 2.5%;
}

#conteiner_main .icon_img img{
    width: 1.5vw;
    height: 1.5vw;
}

#conteiner_main .icon_img div{
    position: relative;
    left: -2.5vw;
    top: -3.5vh;

    width: 2vw;
    height: 3vh;

    background-color: rgb(56, 56, 247);
    border-radius: 25%;
}

#conteiner_main .icon_img div p{
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    color: white;
}


/* container itemlist */

#itemListContainer{
    width: 90vw;
    height: max-content;

    position: relative;
    top: 15vh;
    left: 50%;

    transform: translate(-50%);
}

/* container de items */

#item_container{
    position: relative;
    top: 15%;
    left: 50%;

    transform: translate(-50%, 0);

    width: 90vw;
    height: 50vh;

    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;

    overflow: hidden;

    margin-top: 2vh;
    margin-bottom: 2vh;

}

#item_container .category{
    position: absolute;
    top: 0;
    left: 0;

    height: 5vh;
    
}

/* componente Item.js */

.item_div{
    width: 15vw;
    height: 40vh;

    position: relative;
    top: 5vh;
    

    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;

    box-shadow: 1px 1px 3px 0px;
}

/* usuario de cada item */

.item_div .user{
    width: 15vw;
    height: 2.5vh;

    position: relative;
    top: 18vh;
}

.item_div .user p{
    position: absolute;
    left: 4vw;
    top: 70%;
    font-size: 18px;
}

.item_div .user .profile_img{
    width: 30px;
    height: 30px;

    border-radius: 50%;
    position: absolute;
    left: 1vw;
    top: 50%;
}


/* titulo de cada item */

.item_div .title{
    width: 15vw;
    height: 2.5vh;

    text-align: center;

    position: relative;
    top: 23vh;
}

.item_div .title h6{
    transform: translate(0 , -50%);

    font-size: 21px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

/* estrellas de usuario en item */

.item_div .stars{
    width: 15vw;
    height: 2.5vh;

    position: relative;
    top: 25vh;
}

.item_div .stars p{
    font-size: 2vh;
    position: absolute;
    left: 2.5vw;
    top: 50%;
    font-size: 20px;

    color: rgb(248, 160, 78);
}

.item_div .stars img{
    height: 20px;
    width: 20px;

    position: absolute;
    left: 1vw;
    top: 50%;
}


/* imagen de los items */

.item_div img{
    width: 15vw;
    height: 18vh;
    position: absolute;

    top: 0;
    left: 0;
}

/* precio de item */

.item_div .price{
    width: 15vw;
    height: 5vh;

    border-top: 2px solid black;
    position: relative;
    top: 28vh;

}

.item_div .price p{
    position: absolute;
    top: 50%;
    left: 65%;

    transform: translate(0, -50%);

    font-size: 15px;
}

.item_div .price img{
    position: absolute;
    left: 1vw;
    top: 50%;

    transform: translate(0, -50%);

    height: 20px;
    width: 20px;
}

/* componente ItemDetail */

#ItemDetail{
    width: 90vw;
    height: max-content;
    
    position: relative;
    top: 15vh;
    left: 50%;

    transform: translate(-50%);
}

/* title de ItemDetail */

#ItemDetail .title{
    width: 45vw;
    height: max-content;

    position: absolute;
    top: 0;
    left: 5vh;

    font-size: 25px;
}

/* img de itemDetail */

#ItemDetail img{
    width: 45vw;
    height: 45vh;

    box-shadow: 2px 2px 3px 0;
    position: absolute;
    top: 10vh;
    left: 5vh;
    

}

/* descripcion de itemDetail */

#ItemDetail .description{
    width: 45vw;
    height: max-content;

    position: absolute;
    top: 60vh;
    left: 5vh;
}


#ItemDetail .description p{
    width: 45vw;
    height: max-content;

}

/* price de itemDetail */


#ItemDetail .Options{
    width: 25vw;
    height: 45vh;
    
    border: 1px solid black;

    position: relative;
    left: 70%;
    top: 10vh;
}

#ItemDetail .Options .price{
    width: fit-content;
    height: fit-content;

    position: absolute;
    left: 90%;
    top: 10%;

    transform: translate(-50%);

    font-size: 25px;
}



/* componente ItemCount.js */

#Count_container{
    height: 25vh;
    width: 25vw;

    position: relative;
    top: 40%;
    left: 50%;

    transform: translate(-50%);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#Count_container #Input_container img{
    width: 21px;
    height: 21px;
}




#Count_container h6{
    width: 25vw;
    height: 5vh;

    font-size: 25px;
    text-align: center;
    display: block;
}

#Count_container #Input_container{
    width: 25vw;
    height: 5vh;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    position: relative;
}

#Count_container #Input_container input{
    width: 15vw;
    height: 2.5vh;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}


#Count_container #Input_container .minus{
    position: absolute;
    top: 50%;
    left: 15%;

    transform: translate(-15%, -50%);
}

#Count_container #Input_container .max{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-85%, -50%);
}

/* boton comprar dentro de options */

#ItemDetail .Options #Buy{
    width: 20vw;
    height: 5vh;

    position: absolute;
    top: 90%;
    left: 50%;

    transform: translate(-50%, -90%);
}